<style type="text/css">
	body {margin:0px; padding:0px;}
	body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0;font-size:12px;font-family:Dotum,Arial;color:#666;}
	h1,h2,h3,h4,h5,h6	{font-size:12px;}
	img,fieldset{border:0px;}
	ul,li,ol{list-style:none;}
	a{text-decoration:none;} a:link {color:#181818;} a:hover {text-decoration:underline;color:#324973; font-weight:bold;} a:visited {color:#181818;}
	em,address{font-style:normal}
	.nobr{text-overflow:ellipsis; overflow:hidden;white-space:nowrap;}
	table	{ border-collapse:collapse;table-layout:fixed;}
	td,th	{padding:0;margin:0;}
	input,label	{vertical-align:middle;border:0;}
	label {cursor:pointer;}
	.header_wp{width:100%; margin-left:10px;}
	.header_wp:after{content:"";display:block; clear:both;}
	.header_inner {float:left; height:42px;}
	.member_cti_header2 {/*width:100%; text-align:center; margin:0 11px 0 10px;*/ height:42px; }
	.member_cti_header2 ul{width:1173px; height:42px; background:#ff4c3e ;}
	/*.member_cti_header2 ul {display:inline-block;}*/
	.member_cti_header2 ul:after {content:''; display:block; clear:both;}
	.member_cti_header2 ul li {float:left;  height:42px;}
	.member_cti_right {background:url('../images/cti_headertop2_background.png') right 0 no-repeat !important; min-width:10px;}
	.member_cti_text {line-height:42px; color:#fff; background:#ff4c3e url('../images/cti_headertop2_gap.png') right 14px no-repeat;}
	.member_cti_text a {color:#fff !important; text-decoration:none;}
	.member_cti_text .member_coupon{}
	.member_cti_text em {font-weight:bold; color:#f6ff6e;}
	.member_cti_text span.member_grave {background:url('../images/.png') 0 0 no-repeat; padding-left:5px;}
	.member_cti_text span.member_coupon {background:url('../images/memer_icon_red.png') right 13px no-repeat; padding-right:21px; display:inline-block; height:40px; cursor:pointer; position:relative;}
	.member_cti_textwidth1 {padding:0px 13px 0 20px;}
	.member_cti_textwidth2 {padding:0px 13px;}
	.member_cti_ol {}
	.member_cti_ol li {padding-left:5px;color:#fff; font-weight:bold; background:url('../images/cti_headertop2_gap2.png') right 15px no-repeat; padding-right:11px;}
	.member_cti_ol ol {float:right;}
	.member_cti_ol li a {color:#fff;}
	.point_cti_ol {color:#f6ff6e !important;}
	.member_cti_ol .member_cti_backgroundnone img {margin-top:10px; margin-top:0px \9;}
	.member_cti_contant {margin:0px 13px 0 11px; background:#fff; overflow:hidden; width:1259px; position:relative;}
	.member_cti_contant:after {content:''; display:block; clear:both;}
	.cti_contant_type1 { min-height:624px; background:#fff; position:relative; float:left;}
	.cti_contant_topback {background:url('../images/content_drow_sp.png') 0 0 repeat-x; opacity:0.4;filter:alpha(opacity=40);position:absolute; top:0px; width:100%; min-height:2px;}
	.cti_contant_menu {float:left; width:168px; min-height:720px; background:#f1f1f1;border-right:1px solid #cccccc;}
	.member_cti_contant_bottom {width:1260px; min-height:12px; margin-left:11px; background:url('../images/member_cti_contant_bottom.png') 0 0 no-repeat;}
	.cti_contant_menu ul {}
	.cti_contant_menu dl {border-bottom:1px dashed #cccccc;}
	.cti_contant_menu dl dt{background:#fff; margin:0;padding:0; height:33px; line-height:33px;}
	.cti_contant_menu dl dt b {margin-left:22px;}
	.cti_contant_menu dl dd{background:#f1f1f1;}
	.cti_contant_menu ul li{height:30px; line-height:30px; margin-left:4px;}
	.cti_contant_menu ul li span {margin-left:22px;}

	.cti_contant_menu ul li a strong {color:#fb5240;}
	.cti_contant_type2 {width:420px; min-height:624px; height:auto !important; height:624px; /*min-height:694px \9;  height:694px\9; */ padding-bottom:70px;background:#f0f0f0;  float:left; border-left:1px solid #cccccc; position:relative; }
	.cti_buttom_wrap {position:absolute; left:27px; bottom:-70px;}
	.cti_buttom_wrap ul:after {content:''; display:block; clear:both;}
	.cti_buttom_wrap ul li {float:left; margin-right:10px; line-height:0px; font-size:0px;}
	.cti_fixed_wrap { border-bottom:1px solid #cccccc; padding:11px 0 11px 9px; float:left;}
	.cti_fixed_wrap:after {content:''; display:block; clear:both;}
	.cti_fixed_title_ul1 {margin:0px 11px 0 9px;}
	.cti_fixed_title_ul1:after {content:''; display:block;clear:both;}
	.cti_fixed_title_ul1 li {float:left;}
	.cti_fixed_title_li {float:right !important; font-weight:bold; color:#363636;}
	.cti_fixed_title_li label {margin-right:3px;}
	.cti_fixed_title_ul2:after {content:''; display:block; clear:both;}
	.cti_fixed_title_li2 {padding:11px 0 7px;}

	.cti_fixed_title_ul2 {margin:0px 11px 10px 9px; float:left\9;}
	.cti_fixed_title_ul2 li {float:left;}
	.content_coll_wrap {margin:0px 11px 10px 9px; border:1px solid #ccc; background:#fff; width:400px; clear:both;}
	.content_coll_wrap dt{position:relative; padding:10px; padding-right:0\9; border-bottom:1px solid #e5e5e5;  float:left\9; width:390px\9; clear:both \9;}
	.content_coll_wrap dt:after {content:''; display:block;clear:both;}
	
	.content_coll_wrap_2 {margin:0px 11px 10px 9px; border:1px solid #ccc; background:#fff; width:400px; clear:both;}
	.content_coll_wrap_2 dt{position:relative; padding:10px; border-bottom:1px solid #e5e5e5; clear:both \9;}
	.content_coll_wrap_2 dt:after {content:''; display:block;clear:both;}

	.content_coll_wrap_3 {margin:0px 11px 10px 9px; border:1px solid #ccc; background:#fff; width:400px; clear:both;}
	.content_coll_wrap_3 dt{position:relative; padding:10px; border-bottom:1px solid #e5e5e5;  clear:both \9;}
	.content_coll_wrap_3 dt:after {content:''; display:block;clear:both;}

	.content_coll_wrap_4 {margin:0px 11px 10px 9px; border:1px solid #ccc; background:#fff; width:400px;}
	.content_coll_wrap_4 dt{position:relative; padding:10px; border-bottom:1px solid #e5e5e5;}
	.content_coll_wrap_4 dt:after {content:''; display:block;clear:both;}


	.search_coll_wrap {margin-right:5px;border:1px solid #cccccc; background:#fff; float:left; width:173px; height:26px; position:relative;}
	.search_coll_wrap img {position:absolute;right:4px;top:4px;cursor:pointer;}
	.input_backgorund {background:none !important;}
	.search_scro_wrap {width:148px; height:26px;border:1px solid #ccc; background:#fff; float:left;}
	.search_coll_close {position:absolute; right:11px; top:16px; cursor:pointer; display:none;}
	.coll_division:after {content:''; display:block;clear:both;}
	.coll_division_div1 {width:98px; background:#fff; border:1px solid #cccccc; height:26px;  margin-right:5px; float:left; display:inline;} 
	.coll_division_div2 {width:98px; background:#fff; border:1px solid #cccccc; height:26px;  margin-right:5px; float:left; display:inline;} 
	.coll_division_div3 {width:168px; height:26px; border:1px solid #ccc;  float:left; display:inline;}
	.coll_division {border-bottom:1px solid #e5e5e5; float:left\9; padding:10px;}
	.coll_content_creation { padding:10px 10px 30px; width:;}
	.coll_content_creation div {padding-top:10px;}
	.coll_content_creation div:after {content:''; display:block; clear:both;}
	.coll_content_creation div ul {float:left;}
	.coll_content_creation div ul li {float:left; line-height:0;}
	.coll_content_creation div ul li label {font-weight:bold; margin-left:4px; color:#363636;}
	.coll_content_creation_li1 {width:139px;}
	.coll_content_creation_li2 {width:119px;}
	.coll_content_date {border-bottom:1px solid #e5e5e5;}
	.coll_content_date:after {content:''; display:block; clear:both;}
	.coll_content_div_date1 {text-align:center; line-height:26px;border:1px solid #ccc; margin:10px 5px 10px 10px; width:88px; height:26px; background:url('../images/date_background_top.png') 0 0 no-repeat; font-weight:bold; color:#363636; float:left;  display:inline; color:#363636;}
	.coll_content_div_date2 {width:63px; border:1px solid #ccc; height:26px; background:#fff; margin:10px 0; float:left; display:inline; font-weight:bold; margin-right:5px;}
	.coll_content_div_date2 select {font-weight:bold; color:#363636;}
	.coll_content_div_date3 {width:143px; height:26; position:relative; border:1px solid #ccc; float:left; background:#fff; margin:10px 0; display:inline;}
	.coll_content_div_date3 img {position:absolute; top:-1px; right:-1px;}
	.coll_content_save {text-align:center; width:100%;}
	.coll_content_save img {padding:10px 0;}
	.search_scro_wrap select {font-weight:bold; color:#363636;}
	.coll_division_div1 select {font-weight:bold; color:#363636;}
	.coll_division_div2 select {font-weight:bold; color:#363636; width:90px;}

	.right_tap_menu {position:absolute; left:-39px; top:0px;}
	.right_tap_menu li {line-height:0px; font-size:0px; cursor:pointer; position:relative;}
	.right_tap_menu li.s_point_z {z-index:99;}
	.right_tap_menu_li {margin-top:-1px;}
	.cti_icon_wrap_toll {float:left; margin-left:60px; margin-top:5px;}
	.cti_icon_wrap1 {border:1px solid red; float:left; width:128px; height:26px; border:1px solid #303545;background:#303545; border-right:1px solid #181b23; border-bottom:1px solid #181b23;}
	.cti_icon_wrap1 select { color:#fff; background:#303545; }
	.cti_icon_wrap2 {width:208px; height:26px; border-top:1px solid #0c0c0c; border-bottom:1px solid #858585; border-right:1px solid #353535; background:#fff; float:left; margin-right:14px; display:inline;}
	.cti_icon_wrap3 {float:left; margin-right:52px; display:inline; }
	.cti_icon_wrap3 ul {float:left; margin-top:-2px; display:inline;}
	.cti_icon_wrap3 ul li {float:left;  margin-right:9px; line-height:0px; font-size:0px; cursor:pointer; display:inline;}
	.cti_icon_wrap4 {float:left; margin-right:34px;}
	.cti_icon_wrap4 dt {line-height:0px; font-size:0px;  float:left;}
	.cti_icon_wrap4 dd {float:left;}
	.cti_icon_wrap4 dd {font-size:14px; font-weight:bold; color:#ffd053; text-decoration:underline; margin:0px 9px 0 5px; margin-top:7px;}
	.cti_icon_wrap4 img {margin-top:7px;}
	.cti_icon_wrap5 {float:left; cursor:pointer;}

	.mouse_show_coupon {width:115px; min-height:20px; position:absolute; top:28px; left:64px; z-index:9999; display:none;}
	.mouse_show_top {height:10px !important; width:100%; line-height:10px; background:url('../images/mouse_po_top.png') 0 0 no-repeat;}
	.mouse_show_bottom {height:3px !important; width:100%; line-height:3px; background:url('../images/mouse_po_bottom.png') 0 0 no-repeat; }
	.mouse_show_middle {min-height:87px; width:113px; border-left:1px solid #303440; border-right:1px solid #303440; background:#fff;}
	.mouse_show_middle ol {margin-top:5px;}
	.mouse_show_middle ol li {float:none !important; line-height:16px; height:16px; text-align:left; margin-bottom:5px; margin-left:12px !important;}
	.mouse_show_middle ol li span {height:16px; display:block;}
	.mouse_show_middle ol li span a {color:#363636 !important;}
	.mouse_show_middle ol li em {color:#ff4c3e; font-weight:bold; text-decoration:underline;}
	.mouse_show_middle ol li em a {color:#ff4c3e !important; font-weight:bold; text-decoration:underline;}
	.mouse_show_middle_01 {background:url('../images/mouse_po_icon_01.png') 0 0 no-repeat; padding-left:21px;}
	.mouse_show_middle_02 {background:url('../images/mouse_po_icon_02.png') 0 0 no-repeat; padding-left:21px;}
	.mouse_show_middle_03 {background:url('../images/mouse_po_icon_03.png') 0 0 no-repeat; padding-left:21px;}
	/*2014-05-15 mbh*/
	.select_call_num{margin-right: 5px; border: 1px solid #cccccc; background: #fff; float: left; width: 148px; height: 26px; }
	#call_num{font-weight:bold; color:#353535; }
	.search_call_num{width: 243px; border: 1px solid #ccc; background: #fff; float: left; position:relative; top:0; left:0;}
	.search_call_num img{ position:absolute; top:4px; right:5px; cursor:pointer;}
	.cti_layout_wrap h3 img{margin-bottom:-3px !important \9;}
	/*2014-05-27*/
	/*2014-07-14*/
	.seller_input{width:343px;}